body {
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
    background-image: url(imagesCSS/Fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.dark-mode {
    background-image: url(imagesCSS/1150004.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#toggleMode {
    background: transparent; 
    border: none; 
   
}

body.dark-mode .bi {
    color: yellow;
}

body.light-mode .bi {
    color: darkblue;
}




.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.alfa-slab-one-regular {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.abel-regular {
    font-family: "Abel", serif;
    font-weight: 400;
    font-style: normal;
}  
  
.video-container {
    position: relative; 
    width: 100%;       
    height: 100%;      
    overflow: hidden; 
}

.responsive-video {
    position: absolute; 
    top: 0;            
    left: 0;           
    width: 100%;       
    height: 100%;      
    object-fit: cover; 
}

.overlay-text {
    position: absolute;        
    top: 50%;                 
    left: 50%;                
    transform: translate(-50%, -50%);
    color: #FFEAC5;             
    text-align: center;       
    padding: 20px;            
    border-radius: 10px;      
    max-width: 90%;           
    display: flex;            
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
    height: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);            
}


.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #E0C097;
    color:  #2D2424;
    padding: 20px;
    z-index: 1000;
}

body.dark-mode .fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:  #2D2424;
    color:  #E0C097;
    padding: 20px;
    z-index: 1000;
}

.navbar-brand{
   color: #5C3D2E;
}

.navbar-brand:hover{
    color: #B85C38;
 }
.nav-link{
    color: #5C3D2E;
}


.nav-link:hover {
    color: #B85C38;
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.active{
    color: #B85C38;
}

.content-section {
    min-height: 300px;
    border-radius: 1.5rem;
    border: none;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.content-div {
    margin-top: 120px;
    
}

.card {
    background-color: #FFDBB5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px;
}

.card-2 {
    width: 350px;
    height: 600px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: hidden;
}

.card-2 img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 8px 8px;
}
.card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}
    
.card iframe {
    max-width: 100%;
    height: auto; /* Ajusta autom谩ticamente la altura */
}


.card h3 {
    font-size: 1.5em;
    margin: 15px 0 10px;
    color: #333;
}

.card p {
    font-size: 1em;
    color: #777;
}


.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

body.light-mode .footer {
    background-color:#E0C097 ;
    color: #2D2424;
    border: none;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
    text-align: center;
}
body.dark-mode .footer {
    background-color:  #2D2424 ;
    color: #E0C097;
    border: none;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
    text-align: center;
}



@media (max-width: 768px) {
    .content-section {
        padding: 15px;
    }
}

.form-container {
    width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #5C3D2E;
    text-align: center;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

body.light-mode #openModalBtn {
    background-color: #E0C097;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

body.light-mode #openModalBtn:hover {
    background-color: #2D2424;
}

body.dark-mode #openModalBtn{
    background-color: #2D2424;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

body.dark-mode #openModalBtn:hover {
    background-color: #E0C097;
}

body.light-mode .btn {
    background-color: #E0C097;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

body.light-mode .btn:hover {
    background-color: #2D2424;
}

body.dark-mode .btn {
    background-color: #2D2424;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

body.dark-mode .btn:hover {
    background-color: #E0C097;
}



/* CSS Grid para la estructura principal */
.grid-container {
    display: grid;
    grid-template-areas:
        "sidebar content";
    grid-template-columns: 450px 1fr;
    gap: 20px;
    height: 80vh;
}


.sidebar {
    width: 400px;
    padding: 15px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-header {
    font-size: 100px; /* Ajusta el tama帽o de la fuente aqu铆 */
    color: #5C3D2E; /* Color del texto */
    text-align: center; /* Centra el texto */
    margin-bottom: 20px; /* Espacio inferior */
}
.sidebar-paragraph{
    font-size: 20px;
    color: #5C3D2E; /* Color del texto */
    text-align: center; /* Centra el texto */
    margin-bottom: 20px; /* Espacio inferior */
}
.contact-sidebar {
    height: auto;
    width: 600px;
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: #333;
    border-radius: 8px 8px 8px 8px;
}

.contact-sidebar-header {
    font-size: 30px; /* Ajusta el tama帽o de la fuente aqu铆 */
    color: #5C3D2E; /* Color del texto */
    text-align: center; /* Centra el texto */
    margin-bottom: 20px; /* Espacio inferior */
}


.content {
    grid-area: content;
    background-color: transparent;
    padding: 20px;
}

/* Flexbox dentro de una secci贸n */
.flex-container {
    display: flex;
    gap: 10px;
    justify-content: center; /* Centra los elementos dentro de la secci贸n */
}

.flex-container-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center; /* Centra los elementos dentro de la secci贸n */
}

.item {
    background-color: #FFD1DC;
    padding: 10px;
    border-radius: 5px;
}

.custom-btn {
    color: #E0C097;
    background-color: #2D2424;
    border: #2D2424;

}

.custom-btn:hover {
    background-color: #5C3D2E;
}


/* Estilo para la lista de "Su Visi贸n" */
.vision-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.vision-list li {
    background-color: #FFDBB5;
    color: #2D2424;
    padding: 10px 15px;
    margin-bottom: 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: transform 0.2s, background-color 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.vision-list li:hover {
    background-color: #FFD1DC;
    transform: translateY(-2px);
}

.vision-list li::before {
    content: "";
    margin-right: 10px;
    font-size: 1.2em;
}
/* Estilo para el t铆tulo de "Su Visi贸n" */
.vision-title {
    font-size: 2em;
    color: #5C3D2E;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: "Alfa Slab One", serif;
    letter-spacing: 1.5px;
    border-bottom: 2px solid #B85C38;
    padding: 10px 20px;
    background-color: rgba(255, 234, 197, 0.8); /* Fondo semi-transparente */
    border-radius: 8px; /* Bordes redondeados */
}

.bi {
    color: #ccc;
}
.contact-content-section {
    min-height: 300px;
    border-radius: 1.5rem;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
}
.top-contact-content-section {
    margin-top: 120px;
    min-height: 300px;
    border-radius: 1.5rem;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    color: #5C3D2E;
    margin: 0;
    padding: 0;
}

.contact-item i {
    font-size: 1.5rem;
    color: #5C3D2E;
    margin-right: 1rem;
}
.social {
    color: #2D2424;
}

/* Estilos para el fondo del modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  justify-content: center;
  align-items: center;
}

/* Contenido del modal */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Bot贸n de cerrar */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
